@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-container {
    @apply container mx-auto px-4;
  }
  .common-transition {
    @apply !transition-all !ease-in-out !duration-300;
  }
  .btn-primary {
    @apply border-theme text-theme font-medium tracking-wider rounded-md px-6 py-2 border bg-transparent  hover:bg-theme hover:text-white;
    @apply common-transition;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: #14e956;
  border: 2px solid #fdfdfd;
  border-radius: 20px;
}

html,
body {
  width: 100%;
  height: 100%;

  cursor: url("../assets/static/arrow.svg") 15 15, move;
  @media (min-width: 760px) and (max-width: 1024px) {
    max-width: 100%;
    max-height: 100%;
  }
}

a[href],
input[type="submit"],
input[type="checkbox"],
input[type="image"],
label[for],
select,
button {
  cursor: url("../assets/static/arrow-click.svg") 15 15, move !important;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #e8fdee;
}

::selection {
  background-color: #14e956;
  color: #f5f5f5;
}

.style-font {
  font-family: "Tilt Prism", cursive;
}

@keyframes animate-navbar {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-nav {
  animation-name: animate-navbar;
  animation-duration: 300ms;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
