@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-container {
    @apply container mx-auto px-4;
  }
}

@keyframes animate-navbar {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-nav {
  animation-name: animate-navbar;
  animation-duration: 300ms;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
